<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">CodingBuddies</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" href="/twitter">Twitter</a>
    <a class="nav-item nav-link" href="/oauth">Instagram</a>
    <a class="nav-item nav-link" href="/facebook">Facebook</a>
    <a class="nav-item nav-link" href="/developers">Developers</a>
  </div>
</div>
</nav>
<!--bboootstrap form-->

<div class="container">
   <div class="row"> 
    <div class="col-md-8 offset-md-2">
    <form role="form"  action="/twitter" method="post" class="form-group" enctype="multipart/form-data">
    <div class="form-group">
   <br>
      <input type="text" class="form-control form-control-lg"  id="exampleInputEmail1" name="tweet" placeholder="Enter tweet">
    </div>
    <div class="form-group">
      <label for="exampleInputFile" name="image">File input</label>
      <input type="file" id="exampleInputFile" name="avatar" >
    </div>
    <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
  </form>

    </div>
   </div>
</div>

<!--form end -->
    <div class="container">
    <% data.forEach(function(element){ %>
       <div class="row justify-content-center">
       <div class="card border-primary mb-3" style="width: 32rem;">
       <% if(element.entities.media!==undefined){ %>
        <% element.entities.media.forEach( function(image) { %>
       <img class="card-img-top img-thumbnail" src= " <%= image.media_url %> " alt="Card image cap">
        <%}) ;%>
        <%}%>
       <div class="card-body">
         <h4 class="card-text"><%= element.text %></h4>
       </div>
         </div>
       </div> <br>
    <%});%>
    </div>





    <% data.forEach(function(element){ %>
     
    <li>
        <%= element.text %>
        <% if(element.entities.media!==undefined){ %>
        <% element.entities.media.forEach( function(image) { %>
       <img src= " <%= image.media_url %> " alt="">
        <%}) ;%>

        <%}%>
    </li>
    
    <% }) ;%>
</body>
</html>